<% if (user) { %>
  Logged in as: <%= user.email %>!
  <form method="POST"  action="/logout">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
<%} else {%>
  <a href="/login">Login</a>|<a href="/register">Register</a>
<%}%>
