<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <% include ./partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1>TinyApp</h1>
    <a href="#">Create new TinyURL</a>
    <h2>My URLs</h2>
    <ul>
      <% Object.keys(urls).forEach(function(shortURL){ %>
          <li> <b><%= shortURL %></b>: <%= urls[shortURL] %> </li>
      <% }); %>

    </ul>
</body>
</html>
